<h3>SignIn</h3>

<form action="/admin" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" name="username"  placeholder="Enter your Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password"  placeholder="Enter Password">

    <input type="submit" class="btn" value="login">
</form>

<!-- <h3>Register</h3>

<form action="/register" method="POST">

    <label for="username"><b>Username</b></label>
    <input type="text" name="username"  placeholder="Enter your Username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password"  placeholder="Enter Password">

    <input type="submit" class="btn" value="Register">
</form> -->